<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <script>
        function redirectToAddUser() {
            window.location.href = '/add';
        }
    </script>
</head>
<body>
<h1>Users List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td>
            <form th:action="@{/deleteUser}" method="post">
                <input type="hidden" name="userId" th:value="${user.getId()}"/>
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/editUser}" method="get">
                <input type="hidden" name="id" th:value="${user.getId()}"/>
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" onclick="redirectToAddUser()">Add User</button>
</body>
</html>